.container {
  margin: 20px auto;
  width: 600px;
  padding: 0px 20px 20px 20px;
  border: 1px dotted black;
}
th {
  text-align: left;
}

input#logout-button {
  background-color: transparent;
  border: transparent;
  color: blue;
    /* font-style: inherit; */
  text-decoration: underline;
    /* display: flex; */
}

form#logout {
  display: inline;
}

div.dynamic-login-nav {
  display: inline;
}

div.order-section {
  display: none;
}

div.confirmation-section {
  display: none;
}
/*
section.login-nav {
    position: fixed;
    top: 50px;
    right: 50px;
    width: 420px;
    border: 2px solid black;
    padding: 10px;
}


section.main-page-links {
  position: fixed;
  top: 200px;
  left: 100px;
  width: 300px;
}*/