* {
  color:white;

}


/*Container Styling*/
.container {
  margin: 20px auto;
  width: 600px;
  padding: 0px 10px 10px 10px;
    border: 1px solid lightgrey;
  font-family: Georgia, Serif;
  margin-top: -20px;
    border-bottom-right-radius: 25px;
    border-bottom-left-radius: 5px;
    border-top-right-radius: 10px;
    background-color: teal;
    color: black;
  opacity: 0.5;
}
.main-container {
  margin: 20px auto;
  width: 700px;
  padding: 0px 20px 20px 20px;
  border: 1px dotted grey;
  font-family: Georgia, Serif;

  border-radius: 8px

}
#menu-section {
  display: none;
}


/*main sections*/
#admin-section {
  display: none;
}
#nav-section {
    background-color: black;
    opacity: 0.5;
}

#banner-section {
    background-color: black;
    opacity: 0.3;
    /*position: fixed;*/

}
#logo-section {
  background-image: url("donuts.png");
  background-repeat: no-repeat;
  background-position: center;
  padding-top: 140px;
  border: none;
  /*position: fixed;*/
}
/*  ------    */


/*Nav Buttons*/
#nav-section > .profile {
  /*display:none;*/
}
#nav-section > .logout {
  /*display:none;*/
}
/*  ------    */

#nav-section > a {
  margin-left: 30px;
}

/* Login & Registration Forms*/
#registration-section {
  display: none;
}
#login-section {
  display:none;
}
/*  ------    */


/*Order Forms*/
#order-section {
  display: none;
}
#confirmation-section {
  display: none;
}
#confirmed-section {
  display: none;
}
/*  ------    */



/*Order Now Button*/
#order-button {
  display:none;
}
/*  ------    */


/*Admin*/
#admin-section{

}
/*  ------    */



#testimonial-section {
    background-color: black;
  opacity: 0.3;
}
/*General Stylings*/
ul {
  list-style-type:none;
}
a {
  color: white;
}
body {
    background: url('restaurant_icons.png');
    background-repeat: repeat;
}




