* {
  color:white;
}


/*Container Styling*/
.container {
  margin: 20px auto;
  width: 600px;
  padding: 0px 10px 10px 10px;
    border: 1px solid lightgrey;
  font-family: Georgia, Serif;
  margin-top: -20px;
    border-bottom-right-radius: 25px;
    border-bottom-left-radius: 5px;
    border-top-right-radius: 10px;
    background-color: black;
    color: black;
  opacity: 0.4;
}
.main-container {
  margin: 20px auto;
  width: 700px;
  padding: 0px 20px 20px 20px;
  border: 1px dotted grey;
  font-family: Georgia, Serif;

  border-radius: 8px;

}

#menu-section {
  display: none;
}

#profile-section{
  display: none;
}

#currentshop-section{
  display: none;
}

/*main sections*/
#admin-section {
  display: none;
}
#nav-section {
    background-color: black;
    opacity: 0.6;
}

#banner-section {
    background-color: teal;
    opacity: 0.6;
    /*position: fixed;*/

}
#logo-section {
/*  background-image: url("donutRotate.gif");
  background-repeat: no-repeat;
  background-position: center;
  padding-top: 140px;
  border: none;
  background-size: contain;*/
  /*position: fixed;*/
}
/*  ------    */
#stop-section {
  display: none;
  background: url('stop.jpg');
  background-position: center;
  background-repeat: no-repeat;
  padding-top: 80px;
  padding-bottom: 200px;
  border: none;
  opacity: 1.0;
  text-align: center;
}
#stop-section > h2 {
    margin-left: 10px;
    padding-left: 25px;
    margin-bottom: 3px;
}
/*Nav Buttons*/
#nav-section > header > .profile {
  display:none;
}
#nav-section > header > .logout {
  display:none;
}
#nav-section > header > .order {
  display:none;
}
#nav-section > header > .admin {
  display:none;
}
#nav-section > header >  a {
  margin-left: 45px;
}
#nav-section > header {
  display: inline-block;
      padding-top: 15px;

}
/* ------  */


#banner-section > header {
  padding-left: 40px;
  display: inline-block;
}

#banner-section > img {
    border: 0;
    display: inline-block;
    float: right;
    height: 130px;
    padding-right: 100px;
    padding-bottom: 20px
}







/* Login & Registration Forms*/
#registration-section {
  display: none;
}
#login-section {
  display:none;
}
/*  ------    */


/*Order Forms*/
#order-section {
  display: none;
}
#confirmation-section {
  display: none;
}
#confirmed-section {
  display: none;
}
/*  ------    */



/*Order Now Button*/
#order-button {
  display:none;
}
/*  ------    */


/*Admin*/
#admin-section{

}
/*  ------    */



#testimonial-section {
    background-color: teal;
  opacity: 0.6;
}
/*General Stylings*/
ul {
  list-style-type:none;
}
a {
  color: white;
}
body {
    background: url('restaurant_icons.png');
    background-repeat: repeat;
}




select.drop-down {
    color: black;
}

input {
  color:black;
}

li.order-title {
    font-size: large;
    font-weight: 700;
    margin-left: -30px;
    margin-bottom: 6px;
    margin-top: -10px;
}

article > p {
    margin: 0px;
    margin-left: 10px;
}

input[type='number'] {
    width: 80px;
}
.menuitem {
  width: 200px;
}
