  <h2>Current Wholesale Order</h2>
  <a class='wholesale'>New Wholesale Order</a>
  <form class='wholesale-form'>
    <input name="Donut Shop" list='donutshops'>
    <datalist id='donutshops'>
    	<% Donutshop.all.each do |donutshoppe| %>
  		<option><%= donutshoppe %></option>
		</datalist>
		<% end %>
  </form>