<section class='login-nav'>
  <a id='home' href='/'>Home</a>
  <a id= 'login' href="/sessions/new">Login</a>
  <a id= 'register' href="/users/new">Register</a>
  <% if logged_in? %>
  <a id='profile' href="/users/<%= session[:user_id]%>">Put Users Name Here</a>
  <form id='logout' method="post" action ="/sessions">
    <input type="hidden" value="delete" name="_method">
    <input type="submit" value="logout">
  </form>
  <% end %>
<section>